<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EstimationCouts.Properties.Settings.BDEstimationCouts_ConnectionString"
            connectionString="Data Source=LOGTI033826\SQLEXPRESS;Initial Catalog=&quot;BD Estimation Couts&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>